body {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: darkred;
}

h2, h1 {
  text-align: center;
}

ul, li {
  text-align: center;
}

button {
  background-color: rgb(241, 195, 161);
}

#changeTodoPositionInput {
  width: 50px;
}

#toggleCompletedPositionInput {
  width: 50px;
}

#outline {
  border: 1px saddlebrown solid;
  width: 440px;
  padding: 10px;
}

.inputline {
  padding: 1px;
}